.button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  transition: background 0.2s linear;
  color: #fff;

  &--pink {
    background: @pink;
  }

  &--grey {
    background: @grey;
  }

    &--pink:hover, &--pink:focus {
      background: @darkPink;
      color: #fff;
      text-decoration: none;
    }

  &--grey:hover, &--grey:focus {
      background: @darkGrey;
      color: #fff;
      text-decoration: none;
    }
}