@import "colors";

.header {

  &-box {
    width: 1064px;
    padding: 10px 0;
    margin:  0 auto;
    white-space: nowrap;

    &--blue {
      background: @darkBlue;
      color: #fff;
    }
  }
  
  &-inline {
    display: inline-block;
    vertical-align: middle;

    &--left {
      margin-right: 50px;
    }
  }

  &-logo {
    position: relative;
    color: @pink;
    font: 32px/1 'Lobster', cursive;

    &:hover, &:focus {
      color: @pink;
      text-decoration: none;
    }

    &-top {
      display: block;
    }

    &-bottom {
      display: block;
    }
  }

  &-smallMenu {
    line-height: 65px;
  }

  &-nav {
    color: #333;
    text-align: center;
  }
}