.header-box {
  width: 1064px;
  padding: 10px 0;
  margin: 0 auto;
  white-space: nowrap;
}
.header-box--blue {
  background: #2c3e50;
  color: #fff;
}
.header-inline {
  display: inline-block;
  vertical-align: middle;
}
.header-inline--left {
  margin-right: 50px;
}
.header-logo {
  position: relative;
  color: #EF5090;
  font: 32px/1 'Lobster', cursive;
}
.header-logo:hover,
.header-logo:focus {
  color: #EF5090;
  text-decoration: none;
}
.header-logo-top {
  display: block;
}
.header-logo-bottom {
  display: block;
}
.header-smallMenu {
  line-height: 65px;
}
.header-nav {
  color: #333;
  text-align: center;
}
.phone {
  line-height: 45px;
}
.phone-number,
.phone-number:hover,
.phone-number:focus {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.menuSmall {
  margin: 0;
  padding: 0;
}
.menuSmall-item {
  display: inline-block;
  margin-left: 15px;
}
.menuSmall-item a {
  font-size: 15px;
  color: #fff;
}
.menuMain {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.menuMain-item {
  display: inline-block;
  text-align: left;
}
.menuMain-item-name {
  display: block;
  height: 43px;
  padding: 0 18px;
  color: #333;
  transition: all 0.3s ease-in-out;
  font: 20px/43px 'Fira Mono', sans-serif;
}
.menuMain-item-name:hover {
  color: #333;
  text-decoration: none;
}
