.header-box {
  width: 1064px;
  padding: 10px 0;
  margin: 0 auto;
  white-space: nowrap;
}
.header-box--blue {
  background: #2c3e50;
  color: #fff;
}
.header-inline {
  display: inline-block;
  vertical-align: middle;
}
.header-inline--left {
  margin-right: 50px;
}
.header-logo {
  position: relative;
  color: #EF5090;
  font: 32px/1 'Lobster', cursive;
}
.header-logo:hover,
.header-logo:focus {
  color: #EF5090;
  text-decoration: none;
}
.header-logo-top {
  display: block;
}
.header-logo-bottom {
  display: block;
}
.header-smallMenu {
  line-height: 65px;
}
.header-nav {
  color: #333;
  text-align: center;
}
.phone {
  line-height: 45px;
}
.phone-number,
.phone-number:hover,
.phone-number:focus {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.menuSmall {
  margin: 0;
  padding: 0;
}
.menuSmall-item {
  display: inline-block;
  margin-left: 15px;
}
.menuSmall-item a {
  font-size: 15px;
  color: #fff;
}
.menuMain {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.menuMain-item {
  display: inline-block;
  text-align: left;
}
.menuMain-item-name {
  display: block;
  height: 43px;
  padding: 0 18px;
  color: #333;
  transition: all 0.3s ease-in-out;
  font: 20px/43px 'Fira Mono', sans-serif;
}
.menuMain-item-name:hover {
  color: #EF5090;
  text-decoration: none;
}
.slider {
  display: block;
  height: 600px;
  overflow: hidden;
  margin-bottom: 50px;
}
.slider-info {
  display: block;
  width: 30%;
  position: absolute;
  right: 50px;
  top: 40%;
  font-size: 18px;
}
.slider-info-text {
  margin-bottom: 30px;
}
.button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  transition: background 0.2s linear;
  color: #fff;
}
.button--pink {
  background: #EF5090;
}
.button--grey {
  background: #605D59;
}
.button--pink:hover,
.button--pink:focus {
  background: #9B1A4E;
  color: #fff;
  text-decoration: none;
}
.button--grey:hover,
.button--grey:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}
.title-h1 {
  font: 36px/1 'PT Sans Narrow', sans-serif;
  color: #333;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.product {
  position: relative;
}
.product-image {
  position: relative;
}
.product-label {
  position: absolute;
  top: 40px;
  left: -20px;
  width: 76px;
  height: 29px;
  background: #EF5090;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 29px;
}
.product-box {
  width: 90%;
  margin: 0 auto;
}
.product-description {
  margin: 0 0 20px;
}
.product-price--pink {
  color: #EF5090;
}
.banner {
  margin: 80px 0;
  display: block;
  width: 100%;
  height: 425px;
  overflow: hidden;
  position: relative;
}
.banner-info {
  display: block;
  position: absolute;
  z-index: 2;
  width: 60%;
  top: 40px;
  left: 20%;
  right: 20%;
  color: #fff;
  text-align: center;
}
.banner-image {
  width: 1920px;
}
